<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Görüntü Sınıflandırma Uygulaması</title>
</head>
<body>
    <h1>Görüntü Sınıflandırma Uygulaması</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="image">
        <button type="submit">Görüntüyü Sınıflandır</button>
    </form>
    {% if result %}
        <h2>Sınıflandırma Sonucu: {{ result }}</h2>
    {% endif %}
    {% if image_url %}
        <img src="{{ image_url }}" alt="Uploaded Image" style="max-width: 300px;">
    {% endif %}
</body>
</html>
